<div>
    <h2>All Product Details</h2>
    <input type="button" value="Load Product" (click)="loadProductInfo()"/>
    <div *ngIf="flag">
        <table border="1">
            <tr>
                <th>PId</th>
                <th>PName</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.pname}}</td>
                    <td>{{product.price}}</td>
            </tr>
        </table>
    </div>
</div>