<div class="container-fluid">

    <div class="container-fluid">
        <form [formGroup]="categoryRef" (ngSubmit)="storeCategoryDetails()">
            
            <div class="row rowSpace">
              <div class="col-4 offset-4"><h3>Store Category</h3></div>  
            </div>
        
        
            <div class="row rowSpace">
              <div class="col-2 offset-4">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Category Name" 
                  formControlName="categoryName">
                  <label for="floatingInput">Category Name</label>
                </div>
              </div>

              <div class="col-2">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Category Description" 
                  formControlName="categoryDescription">
                  <label for="floatingInput">Category Description</label>
                </div>
              </div>

            </div>

              <div class="row rowSpace">
                <div class="col-4 offset-4">
                  <div class="form-floating">
                    <input type="url" class="form-control" id="floatingInput" placeholder="Category Image" 
                    formControlName="categoryImageUrl">
                    <label for="floatingInput">Category Image URL</label>
                  </div>
                </div>
              </div>
        
            <div class="row rowSpace">
              <div class="col-2 offset-4">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Store Category</button>
              </div>

              <div class="col-2">
                <button class="w-100 btn btn-lg btn-primary" type="reset">Reset</button>
              </div>

            </div>
            
        
            <div class="row rowSpace">
              <div class="col-3 offset-4"><span style="color:red;font-weight: bold;">{{msg}}</span></div>  
            </div>
        </form>
        </div>

    <table class="table table-bordered">
        <tr>
            <th>CID</th>
            <th>CategoryName</th>
            <th>CategoryDescription</th>
            <th>ImageUrl</th>
            <th>Delete Category</th>
            <th>Update Category</th>
        </tr>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.categoryName}}</td>
            <td>{{category.categoryDescription}}</td>
            <td><img src="{{category.categoryImageUrl}}" width="100px" height="100px"/></td>
            <td>
            <a>
            <img src="https://cdn-icons-png.flaticon.com/128/1828/1828843.png"
            width="50px" height="50px" (click)="deleteCategory(category.id)"/>
            </a>                
            </td>
            <a>
            <img src="https://cdn-icons-png.flaticon.com/128/5129/5129742.png"
            width="50px" height="50px" (click)="updateCategory(category)"/>
            </a>
        </tr>
    </table>
</div>