
<div class="container">
    <h2>Welcome to Home user{{userName}}</h2>
    <ul>
        <li><a routerLink="product" skipLocationChange="true">Product Details</a></li>
        <li><a routerLink="cart" skipLocationChange="true">Cart Details</a></li>
        <li style="position:relative;float:right;">
            <a routerLink="logout()"
            (click)="logout()"
            >
        <img src="https://cdn-icons-png.flaticon.com/128/3094/3094700.png?ga=GA1.1.1038442364.1696499046" width="50px" height="50px"/>
            </a>
        </li>
    </ul>
    <hr/>
    <router-outlet></router-outlet>
</div>