<div class="container">
    <form class="form-group" [formGroup]="loginRef" (ngSubmit)="signUp()">
    <div class="row">
        <div class="col-6">
            <h5>Account Create</h5>
        </div>
    </div>   
    <div class="row">
        <div class="col-3">
            <label><b>EmailId</b></label>
        </div>
        <div class="col-3">
            <input type="email" class="form-control" formControlName="emailid"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label><b>Password</b></label>
        </div>
        <div class="col-3">
            <input type="password" class="form-control" formControlName="password"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label><b>TypeOfUser</b></label>
        </div>
        <div class="col-3">
            <input type="radio" formControlName="typeofuser" value="admin"/>:<b>Admin</b>
            <input type="radio" formControlName="typeofuser" value="customer"/>:<b>Customer</b>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="submit" value="SignUp!" class="btn btn-success"/>
        </div>
        <div class="col-3">
            <input type="reset" value="reset" class="btn btn-info"/>
        </div>
    </div>
    <span style="color:red">{{msg}}</span>
    </form>
    <br/>
    <a routerLink="/signIn" skipLocationChange="true">Login!</a>
</div>