<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h2>Booking App for Book the Cab</h2>
<form method="post" action="bookCab">
<label>Name</label>
<input type="text" name="cname"/><br/>
<label>Source</label>
<select name="source">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
</select>
<label>Destination</label>
<select name="destination">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
</select>
<br/>
<label>TypeOfCab</label>
<select name="typeofcab">
	<option value="Cab1">Cab1</option>
	<option value="Cab2">Cab2</option>
	<option value="Cab3">Cab3</option>
	<option value="Cab4">Cab4</option>
</select>
<label>NumberOfSeats</label>
<select name="numberofseats">
	<option value="5">5</option>
	<option value="7">7</option>
	<option value="9">9</option>
	<option value="11">11</option>
</select>
<br/>
<input type="submit" value="Book Cab!"/>
<input type="reset" value="reset"/>
</form>
</body>
</html>